<div class="container">

  <div class="form"> 
    <form class="search-form" id="search-form">  
      <input
        class="form__input"
        type="text"
        name="searchQuery"    
        autocomplete="off"
        placeholder="Search images..."
      />
      <button type="submit" class="form__btn">
        <svg class="form__icon">
        <use href="./images/symbol-defs.svg#search">
    
        </use>
      </svg> 
    </button>
    </form>
  </div>
  <div class="open-filter">
    <button class="openBtn">filter</button> 
  </div> 
  <div class="filter filterHidden"> 
    <div class="first__button">
      <button class="button-all button" data-filter=" ">no-filter</button>
    </div>
    <button class="button" data-filter="backgrounds">backgrounds</button>
    <button class="button" data-filter="fashion">fashion</button>
    <button class="button" data-filter="nature">nature</button>
    <button class="button" data-filter="science">science</button>
    <button class="button" data-filter="education">education</button>
    <button class="button" data-filter="feelings">feelings</button>
    <button class="button" data-filter="health">health</button>
    <button class="button" data-filter="people">people</button>
    <button class="button" data-filter="religion">religion</button>
    <button class="button" data-filter="places">places</button>
    <button class="button" data-filter="animals">animals</button>
    <button class="button" data-filter="industry">industry</button>
    <button class="button" data-filter="computer">computer</button>
    <button class="button" data-filter="food">food</button>
    <button class="button" data-filter="sports">sports</button>
    <button class="button" data-filter="transportation">transportation</button>
    <button class="button" data-filter="travel">travel</button>
    <button class="button" data-filter="buildings">buildings</button>
    <button class="button" data-filter="business">business</button> 
    <button class="button" data-filter="music">music</button>   
  </div>
</div>   
<div class="container">
  <div class="gallery">  
    <!-- Карточки изображений -->
  </div> 
</div>          
<div class="container">
  <button type="button" class="btn-load-more is-hidden">
    load-more
  </button>   
</div>      

  
  


<div class="pagination">
<ul class="pagination__list">

</ul>  
</div>
 
<!-- <ul class="pagination__list">
  <li class="pagination__item">1</li>
  <li class="pagination__item">2</li>
  <li class="pagination__item">3</li>
  <li class="pagination__item">4</li>
  <li class="pagination__item">5</li>
  <li class="pagination__item">6</li>
  <li class="pagination__item">7</li>
  <li class="pagination__item">8</li>
  <li class="pagination__item">9</li>
  <li class="pagination__item">10</li>
  <li class="pagination__item">11</li>
  <li class="pagination__item">12</li>
  <li class="pagination__item">13</li>
</ul>  -->